#destination  {
  width: 100%;
  min-height: 100vh;
  background: url('../../assets/destination/background-destination-mobile.jpg') no-repeat center fixed;
  background-size: cover;
}

#section-destination {
  width: 90%;
  margin: 4rem auto 0rem;
}

#section-destination > img {
  display: block;
  margin: auto;
  width: 22rem;
}

#section-destination > p {
  margin: 0rem auto 3rem;

  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 5px;

  color: white;
}

#section-destination span {
  color: #484A53;
  letter-spacing: normal;
  margin-right: 1.5rem;
}

#ul-destination {
  width: fit-content;
  margin: 3rem auto 0rem;
  padding: 0;
  
  font-size: 1.2rem;
  list-style: none;

  display: flex;
  gap: 20px;

  color: #484A53;
}

#ul-destination, #ul-destination > li {
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;

  border-bottom: 2px solid transparent;
  color: #D2D8F9;
}

#section-destination ul li:hover {
  border-bottom: 2px solid gray;
}

#section-destination  li.active {
  font-weight: bold;

  border-bottom: 2px solid white;
  color: white;
}

#section-destination .fade-in {
  transition: opacity 2s ease-in;
  opacity: 1;
}

#section-destination .fade-out {
  transition: opacity 01s ease-in-out;
  opacity: 0;
}

#info-destination > h1 {
  margin-top: 2rem;
  margin-bottom: 0rem;

  font-family: serif;
  font-size: 7.5rem;
  font-weight: 200;
  text-align: center;

  color: white;
}

#info-destination > p {
  margin-top: 2rem;
  margin-bottom: 8rem;

  font-size: 1.5rem;
  text-align: center;

  color: #D2D8F9;
}

#info-destination div > span {
  margin-top: 2rem;

  font-size: 1.4rem;
  font-weight: lighter;
  text-align: center;

  display: block;
  color: #D2D8F9;
}

#info-destination div > p {
  margin-top: 0;
  margin-bottom: 0rem;

  font-size: 3.2rem;
  font-family: serif;
  font-weight: lighter;
  text-align: center;

  color: white;
}

#time-travel {
  padding-bottom: 8rem;
}

@media (min-width: 640px) /*and (max-width: 1024px)*/ {
  #destination {
    
     background-image: url('../../assets/destination/background-destination-tablet.jpg');
  }

  #section-destination > p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  #section-destination > img {
    width: 30rem;
  } 

  #ul-destination {
    font-size: 1.4rem;
  }

  #section-destination  li.active {
    font-weight: 400;
  }

  #info-destination > h1  {
    font-size: 8rem;
    letter-spacing: 5px;
  }

  #info-destination > p {
    width: 65%;
    margin: 2rem auto;

    font-size: 1.6rem;
  }

  #container-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    width: 80%;
    margin: auto;
    border-top: 1px solid #D2D8F9;
    padding-bottom: 4rem;
  }

  #time-travel {
    padding: 0;
  }

}