#destination {
  width: 100%;
  min-height: 100vh;
  background: url("../../assets/destination/background-destination-mobile.jpg")
    no-repeat center fixed;
  background-size: cover;
}

#section-destination {
  width: 90%;
  margin: 4rem auto 0rem;
}

#section-destination > img {
  display: block;
  margin: auto;
  width: 22rem;

  animation: rotate 60s infinite;
}

#section-destination > p {
  margin: 0rem auto 3rem;

  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 5px;

  color: white;
}

#section-destination span {
  color: #484a53;
  letter-spacing: normal;
  margin-right: 1.5rem;
}

#ul-destination {
  width: fit-content;
  margin: 3rem auto 0rem;
  padding: 0;

  font-size: 1.2rem;
  list-style: none;

  display: flex;
  gap: 20px;

  color: #484a53;
}

#ul-destination,
#ul-destination > li {
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;

  border-bottom: 2px solid transparent;
  color: #d2d8f9;
}

#section-destination ul li:hover {
  border-bottom: 2px solid gray;
}

#section-destination li.active {
  font-weight: bold;

  border-bottom: 2px solid white;
  color: white;
}

#section-destination .fade-in {
  transition: opacity 2s ease-in;
  opacity: 1;
}

#section-destination .fade-out {
  transition: opacity 01s ease-in-out;
  opacity: 0;
}

#info-destination > h1 {
  margin-top: 2rem;
  margin-bottom: 0rem;

  font-family: serif;
  font-size: 7.5rem;
  font-weight: 200;
  text-align: center;

  color: white;
}

#info-destination > p {
  margin-top: 2rem;
  margin-bottom: 8rem;

  font-size: 1.5rem;
  text-align: center;

  color: #d2d8f9;
}

#info-destination div > span {
  margin-top: 2rem;

  font-size: 1.4rem;
  font-weight: lighter;
  text-align: center;

  display: block;
  color: #d2d8f9;
}

#info-destination div > p {
  margin-top: 0;
  margin-bottom: 0rem;

  font-size: 3.2rem;
  font-family: serif;
  font-weight: lighter;
  text-align: center;

  color: white;
}

#time-travel {
  padding-bottom: 8rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) /*and (max-width: 1024px) */ {
  #destination {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  #section-destination > p {
    font-size: 1.5rem;
    letter-spacing: 2px;

    color: #d2d8f9;
  }

  #section-destination > p > span {
    color: #d2d8f9;
  }

  #section-destination > img {
    width: 30rem;
  }

  #ul-destination {
    font-size: 1.4rem;
  }

  #section-destination li.active {
    font-weight: 400;
  }

  #info-destination > h1 {
    font-size: 8rem;
    letter-spacing: 5px;
  }

  #info-destination > p {
    width: 65%;
    margin: 2rem auto;

    font-size: 1.6rem;
  }

  #container-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    width: 80%;
    margin: auto;
    border-top: 1px solid #d2d8f994;
    padding-bottom: 4rem;
  }

  #time-travel {
    padding: 0;
  }

  @media (min-width: 1024px) {
    #destination {
      background-image: url("../../assets/destination/background-destination-desktop.jpg");
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      gap: 1rem;
    }

    #section-destination {
      height: min-content;
      width: 80%;
      margin: auto;

      display: grid;
      grid-template-columns: 1fr 1fr !important;
      grid-template-rows: 30px 30px 400px !important;
      grid-template:
        "paragraph paragraph"
        "image list"
        "image destination";
      gap: 2rem 10rem;
    }

    #section-destination > p {
      font-size: 1.6rem;
      margin: 0;
      grid-area: paragraph;
    }

    #section-destination > p > span {
      margin-right: 5px;
    }

    #section-destination > img {
      width: 40rem;
      margin: auto 0 auto 0;
      grid-area: image;
    }

    #ul-destination {
      margin: auto 0 0 0;
      grid-area: list;
    }

    #info-destination {
      width: 60rem;
      height: min-content;
      margin: 0;
      grid-area: destination;
    }

    #container-info {
      width: fit-content;
      margin: 0;
    }

    #info-destination > p {
      width: 100%;

      text-align: left;
      font-size: 1.7rem;
      line-height: 3rem;
    }

    #info-destination > h1 {
      font-size: 10rem;
      text-align: left;
    }

    #distance > span, #time-travel > span {
      margin: 0;
      text-align: left !important;
    }

    #time-travel > p {
      text-align: left !important;
    }
  }
}
