#tecnology {
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/technology/background-technology-mobile.jpg")
    no-repeat center scroll;
  background-size: cover;
}

#section-technology {
  width: 100%;
  color: #d2d8f9;
}

#section-technology > p {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  margin: 3rem auto 1rem;
}

#section-technology > img {
  width: 100%;
}

#tec-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  width: 20rem;
  margin: 3rem auto 0;
}

#tec-buttons > span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin: 0;

  border-radius: 50%;
  border: 1px solid #d2d8f998;

  font-size: 1.4rem;
  font-weight: 100;

  cursor: pointer;
  transition: all 0.8s ease;
  color: #d2d8f998;
}

#tec-buttons > span:hover {
  border: 1px solid white;
}

#tec-buttons > span.active {
  background-color: white;
  color: black;
}

#section-technology h2 {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;

  margin-top: 4rem;
}

#section-technology h1 {
  font-family: serif;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;

  color: white;
}

#section-technology #description {
  width: 90%;
  margin: auto;
  text-align: center;

  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
}

#section-technology .fade-in {
  transition: opacity 2s ease-in;
  opacity: 1;
}

#section-technology .fade-out {
  transition: opacity 01s ease-in-out;
  opacity: 0;
}

@media (min-width: 640px) {
  #tecnology {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }

  #section-technology p:nth-of-type(1) {
    color: white;
    font-weight: 200;
    font-size: 1.4rem;
    letter-spacing: 4px;
  }

  #section-technology > p span {
    color: #484a53;
    letter-spacing: normal;
    margin-right: 1rem;
  }

  #section-technology h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin: 1.5rem 0;
  }

  #section-technology > #description {
    width: 65%;
    font-size: 1.5rem;
  }

  #tec-buttons {
    width: 22.5rem;
  }

  #tec-buttons > span {
    height: 5.5rem;
    width: 5.5rem;

    font-size: 1.5rem;
  }

  @media (min-width: 1024px) {
    #tecnology {
      background-image: url("../../assets/technology/background-technology-desktop.jpg");

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      gap: 1rem;
    }
    #section-technology {
      width: min-content;
      margin: auto;

      display: grid;
      grid-template-areas:
        "paragraph paragraph paragraph"
        "buttons info image";
      align-items: center;

      grid-template-rows: 20px 480px;
      grid-template-columns: min-content 50rem 51.5rem;
      gap: 2rem;
    }

    #section-technology > p {
      margin: 0;

      font-size: 1.6rem !important;
      letter-spacing: 2px !important;
      color: #d2d8f9 !important;

      grid-area: paragraph;
    }

    #section-technology > p span {
      margin-right: 5px;
      color: #d2d8f9;
    }

    #section-technology > img {
      height: 45rem;
      width: 51.5rem;
      margin: 0;

      grid-area: image;
    }

    #tec-buttons {
      width: 6.5rem;
      margin: 0;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      gap: 4rem;

      grid-area: buttons;
    }

    #tec-info {
      margin: 0;

      grid-area: info;
    }

    #tec-info > h2 {
      text-align: left;
    }

    #tec-info > h1 {
      font-size: 4.75rem;
      text-align: left;
    }

    #tec-info > p {
      width: auto !important;

      font-size: 1.7rem !important;
      text-align: left !important;
      line-height: 3rem !important;

      color: #d2d8f9 !important;
    }
  }
}
