.home {
    width: 85%;
    margin: 4rem auto;
    border: 1px solid red;
}

.home > h1 {
    text-align: center;
    font-family: serif;
    font-size: 7.5rem;
    font-weight: 200;

    margin: 0;
    color: white;
}

.home > p {
    font-size: 1.6rem;
    text-align: center;
    color: #D2D8F9;
}

.home > button {
    width: 25rem;
    height: 25rem;
    margin: 8rem auto;

    font-family: serif;
    font-size: 3.5rem;
    font-weight: 100;

    border-radius: 50%;
    border: none;
    
    display: block;
    cursor: pointer;
}

.home > button:hover {
    outline: 6rem solid rgba(255, 255, 255, 0.199);
    transition: all 0.8s;
}