.home {
  min-height: 100vh;
  width: 100%;
  background: url(../../assets/home/background-home-mobile.jpg) no-repeat center
    fixed;
  margin: auto;
}

#section-home {
  width: 90%;
  margin: 4rem auto 0rem;
}

.home h1 {
  text-align: center;
  font-family: serif;
  font-size: 7.5rem;
  font-weight: 200;

  margin: 1.5rem 0;
  color: white;
}

.home p {
  font-size: 1.6rem;
  text-align: center;
  color: #d2d8f9;
}

.home p:nth-of-type(2) {
  width: 95%;
  max-width: 47rem;
  margin: auto;
  line-height: 2.2rem;
}

.home button {
  width: 25rem;
  height: 25rem;
  margin: 5rem auto 0;

  font-family: serif;
  font-size: 3.5rem;
  font-weight: 100;
  outline-width: 0;

  border-radius: 50%;
  border: none;

  display: block;
  cursor: pointer;
  transition: all 0.8s ease;
}

.home button:hover {
  outline: 6rem solid rgba(255, 255, 255, 0.199);
}

@media (min-width: 640px) /*and (max-width: 1024px) */ {
  .home {
    background: url("../../assets/home/background-home-tablet.jpg") no-repeat
      center fixed;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #section-home {
    margin-bottom: 8vh;
  }

  #home-infos {
    height: min-content;
  }

  .home button {
    width: 15rem;
    height: 15rem;
    font-size: 2.4rem;
  }

  .home button:hover {
    outline-width: 3rem;
    scale: 1.2;
  }

  @media (min-width: 1024px) {
    .home {
      background-image: url("../../assets/home/background-home-desktop.jpg");
      display: block;
    }

    #section-home {
      width: 75%;

      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #home-infos {
      width: min-content;
    }

    .home h1 {
      font-size: 15rem;
      letter-spacing: 8px;
      
      margin-bottom: 3rem;
    }

    .home p {
      font-size: 1.7rem;
      letter-spacing: 2px;
      
    }

    .home p:nth-of-type(2) {
      font-size: 1.75rem;
      text-align: left;
      line-height: 2.75rem;
      letter-spacing: normal;
    }

    .home button {
      margin: 0;
    }
  }
}
