body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: auto;
  padding-top: 2rem;
}

.menu-btn {
  cursor: pointer;
}

#hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: calc(100%);

  width: 25rem;
  height: 100%;
  padding: 2rem;

  background: rgba(255, 255, 255, 0.096);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  color: white;

  transition: left 0.5s ease;
  z-index: 1000;
}

.sidebar.open {
  left: calc(100% - 29rem);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-size: 1.5rem;
  padding: 15px 0;

  transition: border-bottom 0.8s;

  border-bottom: 1.5px solid transparent;
}

.sidebar li:hover {
  transition: 0.8s;
  border-bottom: 1.5px solid white;
}

span {
  margin-right: 1rem;
  font-weight: bolder;
}

a {
  color: white;
  text-decoration: none;
}

.close-btn {
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media (min-width: 640px) {
  header {
    /* justify-content: space-evenly; */
  }
  .menu-btn,
  .close-btn {
    display: none;
  }

  .sidebar {
    width: 40rem;
    height: fit-content;
    padding: 0;

    position: absolute;
    left: calc(100% - 400px) !important;

    background: rgba(255, 255, 255, 0.048);
  }

  .sidebar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .sidebar li {
    font-size: 1.35rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
  }

  .sidebar span {
    display: none;
  }
}
