#crew {
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/crew/background-crew-mobile.jpg") no-repeat
    center scroll;
  background-size: cover;
}

#carousel-container {
  overflow: hidden;
}

#section-crew > p {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2.5px;

  margin-bottom: 4rem;
  color: #d2d8f9;
}

#slides {
  width: 400%;

  display: flex;
  flex-flow: row nowrap;

  transition: transform 0.6s ease-in-out;

  /* border: 1px solid red; */
}

.slide {
  width: 100vw;

  text-align: center;
  font-family: serif;
}

.slide-image > img {
  height: 27rem;
}

.slide h2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 4rem;

  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1px;

  color: #d2d8f9;
  border-top: 1px solid #d2d8f9;
}

.slide h1 {
  font-size: 2.7rem;
  font-weight: 100;

  color: white;
}

.slide p {
  width: 40rem;
  margin: 0 auto;

  font-size: 1.4rem;
  line-height: 2rem;
  font-family: sans-serif;

  color: #d2d8f9;
}

#dots {
  position: absolute;
  top: 42rem;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 1.2rem;
}

.dot {
  height: 1.2rem;

  border-radius: 50%;
  background-color: #555;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dot:hover {
  transform: scale(1.1);
}

.dot.active {
  background-color: white;
}

@media (min-width: 640px) /*and (max-width: 1024px) */ {
  #section-crew > p {
    font-size: 1.6rem;
    margin: 3.5rem 0 2rem;
  }

  .slide {
    display: flex;
    flex-flow: column-reverse;
  }

  .slide img {
    height: 30.9rem;
    margin-top: 5rem;
  }

  .slide h2 {
    padding-top: 2.5rem;
    border: none;
  }

  .slide h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin: 1.2rem;
  }

  .slide p {
    width: 47.5rem;
    font-size: 1.6rem;
  }

  #dots {
    top: 34.5rem;
  }

  @media (min-width: 1024px) {
    #section-crew > p {
      margin-top: 4rem;
    }

    .slide {
      flex-flow: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 0rem;

      text-align: left;
    }

    .slide img {
      height: 49rem;
      margin-right: 15rem;
    }

    .slide-info {
      margin-left: 15rem;
    }

    .slide h2 {
      margin: 0;
      font-size: 4.5rem;
    }

    .slide h1 {
      margin: 0;
      margin-bottom: 2rem;
      font-size: 4.75rem;
    }

    .slide p {
      width: 68rem;
      font-size: 1.7rem;
      line-height: 3rem;
    }

    #dots {
      top: 60rem;
      left: 21.3rem;
    }
  }
}
